/* Global styles */

.slidev-vclick-target {
  transition-property: height;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  transition-duration: 0.15s;
}

.slidev-vclick-hidden {
  visibility: hidden;
  height: 0;
  margin: 0 !important;
  pointer-events: none;
}
